fastapi==0.115.0
psycopg2-binary==2.9.9
redis==5.0.8
boto3==1.35.0
celery==5.3.6
python-dotenv==1.0.1
uvicorn[standard]==0.30.6
python-multipart==0.0.12
pypdf==4.3.1
sentence-transformers==3.1.1
faiss-cpu==1.13.0
rank-bm25==0.2.2
scikit-learn==1.5.2
numpy>=1.26.4,<2.0.0
openai==1.51.0
httpx<0.28.0
torch==2.4.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
